<include file="Public:header" />
<include file="Public:left" />
<include file="Public:top" />
  <!-- jQuery -->
    <script src="__CSS__/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="__CSS__/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="__CSS__/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="__CSS__/nprogress/nprogress.js"></script>

    <!-- Select2 -->
    <script src="__CSS__/select2/dist/js/select2.full.min.js"></script>



    <script src="__CSS__/datatables.net/js/jquery.dataTables.min.js"></script>
    <!-- validator -->
    <script src="__CSS__/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="__CSS__/build/js/custom.min.js"></script>

<div class="mybody">
	{__CONTENT__}
</div
<include file="Public:footer" />
